/* .boton{
    padding: 5px;
    background-color: blue;
    width: 200px;
    height: 20px;
    color: white;
    border:2px solid black;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
} */
/* #div1{
    border: 1px solid black;
    padding: 4px;
    border-radius: 6px;
    background-color: gray;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 60px;
    height: 30px;
} */